{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content" id="flex">
            <main>
                {{ if .Params.thumbnail_mainpage }}
                <div class="card">
                    <img src="{{ .Params.thumbnail_mainpage }}" align="right" class="thumbnail">
                    <h1>{{ .Title }}</h1>
                    <br />
                    <p>{{ .Params.caption_mainpage | markdownify }}</p>
                </div>

                <hr>
                {{ else }}
                <h1 class="title">{{ .Title }}</h1>
                {{ end }}

                {{ .Content }}

                {{ range .Pages}}
                <div class="card">
                    <img src="{{ .Params.thumbnail }}" title="{{ .Params.thumbnail_alt }}" align="right"
                        class="thumbnail">

                    {{ if .Params.override_url }}
                    <h2><a href="{{ .Params.override_url }}">{{ .LinkTitle }}</a></h2>
                    {{ else }}
                    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                    {{ end }}

                    <p>{{ .Params.caption | markdownify }}</p>
                </div>

                <hr>
                {{ end }}

                {{ partial "tags" . }}
            </main>
        </div>
    </div>
</div>
{{ end }}