{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content" id="flex">
            <main>
                {{ if .Params.override_url }}
                <h2><a href="{{ .Params.override_url }}">{{ .LinkTitle }}</a></h2>
                {{ else }}
				<div class="card">
					<img src="{{ .Params.thumbnail_mainpage }}" align="right" class="thumbnail">                
                    <h1>{{ .Title }}</h1>
					<br />
					<p>{{ .Params.caption_mainpage | markdownify }}</p>
				</div>

                {{ partial "page_subheader" . }}
                
                <span data-pagefind-body>
                    {{ .Content }}
                </span>

                {{ end }}

                {{ partial "page_nav" . }}

                {{ partial "tags" . }}

                {{ partial "comments" . }}

                {{ partial "related" . }}
            </main>
        </div>
    </div>
</div>
{{ end }}