{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content" id="flex">
            <main>
                {{ if .Params.override_url }}
                <h2><a href="{{ .Params.override_url }}">{{ .LinkTitle }}</a></h2>
                {{ else }}
				<div class="card">
					<img src="{{ .Params.thumbnail_mainpage }}" align="right" class="thumbnail">                
                    <h1>{{ .Title }}</h1>
					<br />
					<p>{{ .Params.caption_mainpage | markdownify }}</p>
				</div>

                <i>{{ .Date | time.Format ":date_long" }}{{ if .Params.author }} - by {{ .Params.author | markdownify }}{{ end }}{{ if .Lastmod }} (Last modified {{ .Lastmod | time.Format "Mon Jan 2 15:04 MST" }}){{ end }}</i>

                <hr>
                
                {{ .Content }}
                {{ end }}

                {{ partial "page_nav" . }}

                {{ partial "tags" . }}
            </main>
        </div>
    </div>
</div>
{{ end }}