@font-face {
    font-family: RuneScape-Barbarian-Assault;
    src: url('/fonts/RuneScape-Barbarian-Assault.ttf');
}

@font-face {
    font-family: RuneScape-Bold-12;
    src: url('/fonts/RuneScape-Bold-12.ttf');
}

@font-face {
    font-family: RuneScape-Fairy-Large;
    src: url('/fonts/RuneScape-Fairy-Large.ttf');
}

@font-face {
    font-family: RuneScape-Fairy;
    src: url('/fonts/RuneScape-Fairy.ttf');
}

@font-face {
    font-family: RuneScape-Plain-11;
    src: url('/fonts/RuneScape-Plain-11.ttf');
}

@font-face {
    font-family: RuneScape-Plain-12;
    src: url('/fonts/RuneScape-Plain-12.ttf');
}

@font-face {
    font-family: RuneScape-Quill-8;
    src: url('/fonts/RuneScape-Quill-8.ttf');
}

@font-face {
    font-family: RuneScape-Quill-Caps;
    src: url('/fonts/RuneScape-Quill-Caps.ttf');
}

@font-face {
    font-family: RuneScape-Quill;
    src: url('/fonts/RuneScape-Quill.ttf');
}

@font-face {
    font-family: RuneScape-Surok;
    src: url('/fonts/RuneScape-Surok.ttf');
}

main:not(.fonts-disabled)>p,
main:not(.fonts-disabled)>span>p {
    font-family: RuneScape-Quill;
    font-size: 36px;
}

main:not(.fonts-disabled)>h2,
main:not(.fonts-disabled)>span>h2 {
    font-family: RuneScape-Barbarian-Assault;
    font-size: 48px;

    color: white;
}

main:not(.fonts-disabled)>p:has(code),
main:not(.fonts-disabled)>span>p:has(code) {
    width: 100%;

    background-color: black;
}

main:not(.fonts-disabled)>p>a>code,
main:not(.fonts-disabled)>span>p>a>code,
main:not(.fonts-disabled) table code,
main:not(.fonts-disabled)>blockquote {
    color: var(--gregory-quest-blockquote-color);
    font-family: RuneScape-Plain-12;
    font-size: 24px;
}

.superscript,
.subscript,
.plaintext {
    font-family: unset;
    font-size: unset;
}

main:not(.fonts-disabled) .ethereal-text i>span {
    display: inline-block;

    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

    animation-duration: 3s;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        transform: translateY(0%);

        color: black;

        scale: 1;
    }

    to {
        -moz-transform: translateY(12%);
        -webkit-transform: translateY(12%);
        -o-transform: translateY(12%);
        -ms-transform: translateY(12%);
        transform: translateY(12%);
        transform: translateY(12%);

        color: purple;

        scale: 1.2;
    }
}