table,
.dt-scroll-headInner {
    width: 100% !important;
}

#eggbug-eggring table,
#cohostorg table {
    width: unset !important;
}

thead tr {
    background-color: var(--table-background-color);
}

tbody tr:nth-child(even) {
    background-color: var(--table-even-row-background-color) !important;
}

tbody tr:nth-child(odd) {
    background-color: var(--table-odd-row-background-color) !important;
}

.table-rss {
    display: flex;
    justify-content: center;
}

.rss-link a {
    text-decoration: none;
    color: var(--rss-link-color);
}

.title {
    position: relative;
}

.title .rss-link {
    position: absolute;
    right: 9px;
    top: 0;
}

@media only screen and (max-width: 1520px) {
    select,
    option,
    input,
    .dt-paging button {
        font-size: 24px;
    }

    #js-table_info {
        display: none;
        /** Probably a cleaner way of showing this info but oh well **/
    }
}