{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content" id="flex">
            <main>
                {{ .Content }}

                <span class="center">
                    <iframe src="/webdeck-player/index.html" height="260" width="604"></iframe>
                </span>

                <a style="position: relative; right: -770px; top: -260px;"
                    onclick="window.open('/webdeck-player/index.html', 'Web Deck Player', 'height=250, width=600')">
                    <i class="fa fa-external-link"></i>
                </button> 

                <br />
                <br />
                <br />
                <br />

                <div class="center">
                    {{ partial "buttons" . | markdownify }}
                </div>
                <hr style="max-width: 200px;" />

                <br />

                <div class="center"><img id="avatar" src="/avatar.png"></div>
            </main>

            <aside id="leftSidebar" style="margin-right: 0px;">
                <h2>Updates</h2>
                <div class="box">
                    <div class="scrollable">
                        {{ range $update := first 5 (sort $.Site.Data.updates "date" "desc") }}
                        <p>{{ $update.date | time.Format ":date_long" }}</p>
                        <ul>
                            <li>{{ $update.preview | markdownify }}</li>
                        </ul>
                        {{ end }}
                    </div>

                    <hr />
                    <div class="rss-link center"><a href="updates.xml"><i class="fa fa-rss-square" aria-label="Updates RSS Feed" aria-hidden="true"></i> Updates RSS Feed</a></div>
                </div>

                <h3>Inferior Social Media</h3>
                <ul>
                    <li><a rel="me" href="https://mastodon.social/@Ratheronfire" target="_blank">Mastodon</a></li>
                    <li><a href="https://cohost.org/Ratheronfire" target="_blank">Cohost</a></li>
                    <li><a href="https://www.youtube.com/channel/UCPlBIsX20DaKlA62wGWurUQ" target="_blank">YouTube</a>
                    </li>
                    <li><a href="https://letterboxd.com/Ratheronfire/" target="_blank">Letterboxd</a></li>
                    <li><a href="https://backloggd.com/u/Ratheronfire/" target="_blank">Backloggd</a></li>
                    <li><a href="https://www.serializd.com/user/Ratheronfire/profile" target="_blank">Serializd</a></li>
                    <li><a href="https://twitter.com/Ratheronfire" target="_blank"
                            title="If that site still exists when you see this page...">Twitter</a></li>
                    <li><a href="https://discord.gg/M6rgZVkVuv">Discord</a></li>
                </ul>
                
                <div id="github-link" class="center"><a href="https://github.com/Ratheronfire/Ratheronfire-Neocities"><i class="fa fa-github" aria-hidden="true"></i> View this site on GitHub</a></div>

                <iframe src="https://www3.cbox.ws/box/?boxid=3535293&boxtag=Vs829q" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
            </aside>

            <aside id="rightSidebar" style="margin-right: 0px; position: relative;">
                <h3>New/Modified Pages</h3>

                <div class="box">
                    <div class="scrollable">
                        <ul>
                            {{ $new_pages := where .Site.Pages ".Kind" "page"  }}
                            {{ $new_pages = $new_pages | intersect (where .Site.Pages ".Content" "ne" "") }}
                            {{ $new_pages = $new_pages | intersect (where .Site.Pages ".Params.hide_from_new" "ne" true) }}
                            {{ $new_pages = $new_pages | union (where .Site.Pages ".Params.image_path" "ne" nil) }}

                            {{ range (sort $new_pages "Lastmod").Reverse.Limit 15 }}
                                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                            {{ end }}
                        </ul>
                    </div>

                    <hr />
                    <div class="rss-link center"><a href="index.xml"><i class="fa fa-rss-square" aria-label="New Pages RSS Feed" aria-hidden="true"></i> New Pages RSS Feed</a></div>
                </div>

                <br />

                <div class="center"><a href="https://neocities.org"><img src="/neocities.png"></a></div>

                <div style="width: 305px; position: absolute; bottom: 0">
                    <div class="center">
                        <a href="https://ratheronfire.com/"><img style="align-self: flex-c" src="/img/buttons/website_button.png"></a>
                    </div>

                    <div class="center">
                        If you want to add a link to my site, you can use this:
                        <textarea disabled><a href="https://ratheronfire.com/"><img style="align-self: flex-c" src="/img/buttons/website_button.png"></a></textarea>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<style>
    .scrollable {
        max-height: 250px;
        overflow-y: scroll;
    }

    .box ul {
        padding-left:10px;
    }

    #github-link a {
        width: 100%;
        text-decoration: none;
        color: yellow;
    }

    #avatar {
        width: 125px;
        border: 3px solid brown;
        border-radius: 8px;
        border-block-color: gray;
    }

    .center {
        width: 100%;
        display: flex;
        
        text-align: center;
        justify-content: center;
    }
</style>
{{ end }}