{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content" id="flex">
            <main>
                {{ if .Params.thumbnail_mainpage }}
                <div class="card">
                    <img src="{{ .Params.thumbnail_mainpage }}" align="right" class="thumbnail">
                    <h1>{{ .Title }}</h1>
                    <br />
                    <p>{{ .Params.caption_mainpage | markdownify }}</p>
                </div>

                {{ else }}
                <h1 class="title">{{ .Title }}</h1>
                {{ end }}

                {{ .Content }}

                <div style="text-align: right; font-size: min(1.87vw, 70%); opacity: 0.7;">Templates adapted from <a href="https://cohost.org/nex3?">@nex3's</a> <a
                    href="https://nex3.github.io/cohost-letterboxd">Letterboxd formatter</a></div>

                <!--
                {{ range $entry := .Params.entries }}
                {{
                    $review := dict
                    "title" $entry.title
                    "rating" $entry.rating
                    "year" $entry.year
                    "date" $entry.review_date
                    "content" ($entry.review_text | markdownify)
                    "has_spoilers" $entry.has_spoilers
                    "fanart_url" $entry.fanart_url
                    "poster_url" $entry.poster_url
                    "review_page" $entry.review_page
                    "external_review_url" $entry.external_review_url
                    "is_preview" true
                }}

                {{ partial "review" $review }}
                {{ end }}

                <br />
                <hr />
                <br />-->

                {{ range $entry := (.Paginator 15).Pages }}
                {{
                    $review := dict
                    "title" $entry.Params.title
                    "rating" $entry.Params.rating
                    "year" $entry.Params.year
                    "date" $entry.Params.date
                    "content" $entry.Content
                    "has_spoilers" $entry.Params.has_spoilers
                    "fanart_url" $entry.Params.fanart_url
                    "poster_url" $entry.Params.poster_url
                    "review_page" .Page.Permalink
                    "external_review_url" $entry.Params.external_review_url
                    "is_preview" true
                }}

                {{ partial "review" $review }}
                {{ end }}

                {{ template "_internal/pagination.html" . }}

            </main>
        </div>
    </div>
</div>
{{ end }}