{{ range $button := $.Site.Data.buttons }}
    {{ if .url }}
    <a href="{{ .url }}">
    {{ end }}
        <picture>
            {{ $split_str := split (.image) "." }}
            {{ $static_str := printf "%s.static.%s" (index $split_str 0) (index $split_str 1) }}

            {{ if not (fileExists (printf "static%s" $static_str)) }}
                {{ $static_str = .image }}
            {{ end }}

            <source srcset="{{ .image }}" media="(prefers-reduced-motion: no-preference)" />
            <img src="{{ $static_str }}" alt="{{ .alt }}" title="{{ .alt }}" />
        </picture>
    {{ if .url }}
    </a>
    {{ end }}
{{ end }}
