<header class="container" style="position: relative">
    <div style="position: absolute;">
        <a style="color: yellow; font-size: 30px" onclick="nextHeader()">
            <i class="fa fa-sun" aria-hidden="true"></i>
        </a>
        <a style="color: white; font-size: 30px" onclick="setHeaderByHour()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
    </div>
    <div id="theme-select-container">
        <label for="theme-select">Theme</label>
        <select id="theme-select" onchange="setTheme()">
            <option value="default" selected>Default</option>
            <option value="red">Red Iculous</option>
            <option value="green">Jungle</option>
            <option value="dark">Dark</option>
            <option value="light">Light</option>
            <option disabled>More to come probably!</option>
        </select>
    </div>
    <div id="header" style="height: 165px;"></div>
    <noscript>
    </noscript>
    <div id="headerArea">
        <nav id="navbar" style="margin-bottom: 0px;">
            <ul>
                <li><a href="/" target="_parent">Home</a></li>
                <li><a href="/projects/" target="_parent">Projects</a></li>
                <li>
                    <a href="/thoughts/">Thoughts</a>
                    <ul>
                        <li>
                            <a href="/thoughts/unorganized" target="_parent">Unorganized Thoughts</a>
                        </li>
                        <li>
                            <a href="/thoughts/devlogs" target="_parent">Devlogs</a>
                        </li>
                        <li>
                            <a href="/thoughts/reviews/movies/" target="_parent">Movie Reviews</a>
                        </li>
                        <li>
                            <a href="/thoughts/reviews/games/" target="_parent">Game Reviews</a>
                        </li>
                        <li>
                            <a href="/thoughts/reviews/tv/" target="_parent">TV Reviews</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/misc/">Misc.</a>
                    <ul>
                        <li>
                            <a href="/misc/credits/" target="_parent">Credits</a>
                        </li>
                        <li>
                            <a href="/misc/updates/" target="_parent">Updates</a>
                        </li>
                        <li>
                            <a href="/categories/" target="_parent">Post Categories</a>
                        </li>
                        <li>
                            <a href="/tags/">Post Tags</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
                    <script src="/pagefind/pagefind-ui.js"></script>
                    <div id="search" class="box"></div>
                    <script>
                        window.addEventListener('DOMContentLoaded', (event) => {
                            new PagefindUI({ element: "#search", showSubResults: true });
                        });
                    </script>
                </li>
            </ul>
        </nav>
    </div>
    <style class="darkreader darkreader--sync" media="screen"></style>
</header>
<script>
    var headers = [
        "url('/img/peasants_quest_headerB.png')",
        "url('/img/peasants_quest_headerA.png')",
        "url('/img/peasants_quest_headerC.png')"
    ];

    var currentHeader = 0;

    function setHeader() {
        document.querySelector('#header').style["background-image"] = headers[currentHeader];
    }

    function nextHeader() {
        currentHeader = (currentHeader + 1) % headers.length;
        localStorage.setItem("headerId", currentHeader);

        setHeader();
    }

    function setHeaderByHour() {
        localStorage.removeItem("headerId");

        var hours = new Date().getHours();

        if (hours < 6 || hours > 22)
            currentHeader = 0;
        else if (hours < 10 || hours > 18)
            currentHeader = 1;
        else
            currentHeader = 2;

        setHeader();
    }

    if (localStorage.getItem("headerId") != null) {
        currentHeader = localStorage.getItem("headerId");
        setHeader();
    } else {
        setHeaderByHour();
    }
    
    const themes = {
        "default": {
            "header-image": "url('../img/peasants_quest_headerA.png')",
            "body-bg-image": "url('../img/space_backdrop.jpg')",
            "content": "#43256E",

            "background-color": "#08031A",
            "main-background-color": "#43256E",
            "mid-gradient-color": "rgb(9, 9, 121)",
            "navbar-background-color": "#13092D",

            "box-background-color": "#13092D",
            "box-border-color": "#ED64F5",
            "aside-background-color": "#241445",

            "header-background-color": "#5e4e8c",
            "header-dropdown-background-color": "#241445",
            "header-border-color": "violet",
            "footer-background-color": "#13092D",

            "top-bar-background-color": "#13092D",

            "primary-text-color": "#fceaff",
            "bold-text-color": "#ED64F5",

            "link-color": "#ED64F5",
            "rss-link-color": "orange",
            "navbar-link-color": "#ED64F5",
            "navbar-link-color-hover": "#a49cba",

            "category-link-background-color": "rgb(120, 227, 80)",
            "tag-link-background-color": "rgb(0, 1, 88)",

            "title-color": "#ED64F5",

            "code-no-lang-color": "rgb(17, 243, 36)",

            "option-color": "black",
                
            "minecraft-nav-color": "#0F0",
            "minecraft-nav-background-color": "rgba(255, 255, 255, 0)",
            "minecraft-nav-text-shadow-color": "rgb(119, 119, 119)",

            "gregory-quest-blockquote-color": "rgb(17, 243, 36)",

            "table-background-color": "#250d55",
            "table-even-row-background-color": "#241445",
            "table-odd-row-background-color": "#13092D",
        },
        "red": {
            "main-background-color": "#83252E",
            "mid-gradient-color": "rgb(180, 9, 9)",
            "navbar-background-color": "#63091D",

            "box-background-color": "#63091D",
            "box-border-color": "#FD6445",
            "aside-background-color": "#941415",

            "header-background-color": "#8e4e5c",
            "header-dropdown-background-color": "#741425",
            "header-border-color": "#ff1515",
            "footer-background-color": "#63091D",

            "primary-text-color": "#fceaff",
            "bold-text-color": "#FF9425",

            "link-color": "#FD6465",
            "navbar-link-color": "#FD6465",

            "title-color": "#FD6445",

            "table-background-color": "#550d25",
            "table-even-row-background-color": "#441425",
            "table-odd-row-background-color": "#23091D",
        },
        "green": {
            "main-background-color": "#23652E",
            "mid-gradient-color": "rgb(9, 90, 9)",
            "navbar-background-color": "#03190D",

            "box-background-color": "#03190D",
            "box-border-color": "#6DF445",
            "aside-background-color": "#145415",

            "header-background-color": "#4e8e5c",
            "header-dropdown-background-color": "#142405",
            "header-border-color": "#1ff515",
            "footer-background-color": "#03190D",

            "primary-text-color": "#ffffff",
            "bold-text-color": "#FFFF25",

            "link-color": "#4DC485",
            "navbar-link-color": "#6D64F5",

            "title-color": "#6DF445",

            "table-background-color": "#053d05",
            "table-even-row-background-color": "#143425",
            "table-odd-row-background-color": "#03291D",
        },
        "dark": {
            "main-background-color": "#0E0E0E",
            "mid-gradient-color": "rgb(25, 25, 25)",
            "navbar-background-color": "#252525",

            "box-background-color": "#050505",
            "box-border-color": "#666666",
            "aside-background-color": "#1A1A1A",

            "header-background-color": "#303030",
            "header-dropdown-background-color": "#303030",
            "header-border-color": "#000000",
            "footer-background-color": "#252525",

            "primary-text-color": "#ffffff",
            "bold-text-color": "#4F85F4",

            "link-color": "#6DC475",
            "navbar-link-color": "#6DF455",

            "category-link-background-color": "rgb(140, 57, 10)",
            "tag-link-background-color": "rgb(0, 1, 188)",

            "title-color": "#DDF485",

            "table-background-color": "#250d25",
            "table-even-row-background-color": "#141425",
            "table-odd-row-background-color": "#03091D",
        },
        "light": {
            "main-background-color": "#EEEEF4",
            "mid-gradient-color": "rgb(205, 205, 225)",
            "navbar-background-color": "#DDDDFF",

            "box-background-color": "#9595C5",
            "box-border-color": "#0C0C4C",
            "aside-background-color": "#BBBBDF",

            "header-background-color": "#888888",
            "header-dropdown-background-color": "#888888",
            "header-border-color": "#000000",
            "footer-background-color": "#DDDDFF",

            "primary-text-color": "#000000",
            "bold-text-color": "#FF9554",

            "link-color": "#0D2475",
            "navbar-link-color": "#0D2455",
            "rss-link-color": "FF0000",

            "category-link-background-color": "rgb(120, 227, 80)",
            "tag-link-background-color": "rgb(100, 150, 238)",

            "title-color": "#2D1495",

            "table-background-color": "#BBBBFF",
            "table-even-row-background-color": "#DDDDEE",
            "table-odd-row-background-color": "#9999FF",
        }
    };

    function setTheme() {
        var newTheme = document.querySelector("#theme-select").value;
        var themeValues = themes[newTheme];

        localStorage.setItem("theme", newTheme);

        for (let key in themes["default"]) {
            var newValue = themes["default"][key];

            if (key in themeValues) {
                newValue = themeValues[key]
            }

            document.documentElement.style.setProperty('--' + key, newValue);
        }
    }
    
    if (localStorage.getItem("theme") != null) {
        document.querySelector("#theme-select").value = localStorage.getItem("theme");
    }

    setTheme();
</script>