<header class="container">
    <div id="header" style="height: 165px;"></div>
    <div id="headerArea">
        <nav id="navbar" style="margin-bottom: 0px;">
            <ul>
                <li><a href="/" target="_parent">Home</a></li>
                <li><a href="/projects/" target="_parent">Projects</a></li>
                <li>
                    <a href="/thoughts/">Thoughts</a>
                    <ul>
                        <li>
                            <a href="/thoughts/unorganized" target="_parent">Unorganized Thoughts</a>
                        </li>
                        <li>
                            <a href="/thoughts/reviews/movies/" target="_parent">Movie Reviews</a>
                        </li>
                        <li>
                            <a href="/thoughts/reviews/games/" target="_parent">Game Reviews</a>
                        </li>
                        <li>
                            <a href="/thoughts/reviews/tv/" target="_parent">TV Reviews</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/misc/">Misc.</a>
                    <ul>
                        <li>
                            <a href="/misc/credits/" target="_parent">Credits</a>
                        </li>
                        <li>
                            <a href="/categories/" target="_parent">Post Categories</a>
                        </li>
                        <li>
                            <a href="/tags/">Post Tags</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <style class="darkreader darkreader--sync" media="screen"></style>
</header>