{{ $pages := where (where .Site.RegularPages "File.Dir" .File.Dir) ".Params.exclude_from_nav" "!=" "true" }}

<div class="blog__navigate">
    <div class="blog__navigateButtons">
        <div class="blog__navigateButtons__previous">
            {{ with $pages.Prev . }}
            <button><a href="{{ .Permalink }}">&#8592; Previous Post: {{ .Title }}</a> </button>
            {{ end }}
        </div>
        <div class="blog__navigateButtons__next">
            {{ with $pages.Next . }}
            <button><a href="{{ .Permalink }}">Next Post: {{ .Title }} &#8594;</a></button>
            {{ end }}
        </div>
    </div>
</div>