{{ if .Params.caption_mainpage }}
    {{ .Params.caption_mainpage | markdownify }}
{{ end }}

{{ if .Params.author }}
    <i>By {{ .Params.author | markdownify }}</i>
{{ end }}

{{ if .Params.image_paths }}
    {{ range .Params.image_paths }}
        <a href="{{ . }}" target="_blank" class="image_scaled">
            <img src="{{ . }}" title="{{ $.Params.alt_text }}" alt="{{ $.Params.alt_text }}">
        </a>
    {{ end }}
{{ else }}
    <img src="{{ .Params.image_path }}" title="{{ .Params.alt_text }}" alt="{{ .Params.alt_text }}">
{{ end }}

{{ if eq .Type "cohost" }}
    <i>Originally posted to Cohost on {{ .Params.original_date | time.Format ":date_long" }}.</i>

    <hr />
{{ else if eq .Type "review" }}
    {{ if .Params.season }}
        <strong>{{ .Params.series }} - Season {{ .Params.season }}, Episode {{ .Params.episode }} - {{ .Title }}</strong>
    {{ else }}
        <strong>{{ .Params.title }}</strong>
    {{ end }}

    {{ if .Params.poster_url }}
        <img src="{{ .Params.poster_url }}" style="float: right; max-height: 200px" />
    {{ end }}

    <p>
        {{ if .Params.airdate }}Aired {{ .Params.airdate | time.Format "January 2, 2006" }} &middot;{{ end }}
        <span>
            {{ if eq .Params.rating 0.5 }}⯨{{ else if gt .Params.rating 0 }}★{{ else }}✫{{ end }}{{ if eq .Params.rating 1.5 }}⯨{{ else if gt .Params.rating 1 }}★{{ else }}✫{{ end }}{{ if eq .Params.rating 2.5 }}⯨{{ else if gt .Params.rating 2 }}★{{ else }}✫{{ end }}{{ if eq .Params.rating 3.5 }}⯨{{ else if gt .Params.rating 3 }}★{{ else }}✫{{ end }}{{ if eq .Params.rating 4.5 }}⯨{{ else if gt .Params.rating 4 }}★{{ else }}✫{{ end }}
        </span>
    </p>

    <hr style="max-width: 80%;" />
    {{ end }}

{{ if .Params.has_spoilers }}
    <details>
        <summary>
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 1em; height: 1em; vertical-align: -0.125em;" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg> <i>Spoilers ahead.</i>
        </summary>
        {{ .Content }}
    </details>
{{ else }}
    {{ .Content }}
{{ end }}

<div style="display: flex; gap: 4px">
    {{ with .GetTerms "tags" }}
        {{ range . }}
            <div><i>#{{ .LinkTitle | lower }}</i></div>
        {{ end }}
    {{ end }}
</div>