<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>        
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        
<!-- SCM Music Player https://www.scmplayer.net -->
<script type="text/javascript" src="/scmplayer.js" 
data-config="{'skin':'skins/scmOrange/skin.css','volume':50,'autoplay':false,'shuffle':true,'repeat':1,'placement':'bottom','showplaylist':false,'playlist':[{'title':'Test','url':'https://www.youtube.com/watch?v=Ja-6D8uVcH0'}]}" ></script>
<!-- SCM Music Player script end -->

    </body>
</html>
