{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content" id="flex">
            <main>
                <h1>{{ .Title }}</h1>

                {{ partial "page_subheader" . }}
                
                <span data-pagefind-body>
                    {{ .Content }}
                </span>

                {{ partial "page_nav" . }}

                {{ partial "tags" . }}

                {{ partial "comments" . }}

                {{ partial "related" . }}
            </main>
        </div>
    </div>
</div>
{{ end }}