<!-- Based on code nabbed from https://codepen.io/gagneow/pen/BoWroQ -->

<div class="slides">
    {{ range $index, $slide := .Page.Params.minecraft_slides }}
    <input type="radio" name="radio-btn" id="img-{{ $index }}" {{ if eq $index 0 }}checked{{ end }} 
        onchange="updateSelectedSlide({{ $index }})"/>
    <div class="slide-container">
        <div class="slide">
            <strong class="slide-title">{{ $slide.title }} | Slide {{ add $index 1 }}/{{ len
                $.Page.Params.minecraft_slides }}</strong>

            <div style="position: relative;">
                <img src="{{ $slide.src }}" />

                <div class="nav">
                    {{ range $link := $slide.links }}

                    {{ $left_offset := 0 }}
                    {{ if $link.left_offset }}
                    {{ $left_offset = $link.left_offset }}
                    {{ end }}

                    {{ $top_offset := 0 }}
                    {{ if $link.top_offset }}
                    {{ $top_offset = $link.top_offset }}
                    {{ end }}

                    {{ $left := 0 }}
                    {{ $top := 0 }}

                    {{ if or (eq $link.position "left") (eq $link.position "upleft") (eq .position "downleft") }}
                    {{ $left = "10px" }}
                    {{ end }}

                    {{ if or (eq $link.position "right") (eq $link.position "upright") (eq .position "downright") }}
                    {{ $left = "100% - 50px" }}
                    {{ end }}

                    {{ if or (eq $link.position "center") (eq $link.position "up") (eq .position "down") }}
                    {{ $left = "50% - 20px" }}
                    {{ end }}

                    {{ if or (eq $link.position "up") (eq $link.position "upleft") (eq .position "upright") }}
                    {{ $top = "10px" }}
                    {{ end }}

                    {{ if or (eq $link.position "down") (eq $link.position "downleft") (eq .position "downright") }}
                    {{ $top = "100% - 50px" }}
                    {{ end }}

                    {{ if or (eq $link.position "center") (eq $link.position "left") (eq .position "right") }}
                    {{ $top = "50% - 20px" }}
                    {{ end }}

                    <label for="img-{{ $link.to }}"
                        style="left: calc({{ $left }} + {{ $left_offset }}%); top: calc({{ $top }} + {{ $top_offset }}%)">
                        {{ if eq $link.direction "left" }}
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {{ else if eq $link.direction "right" }}
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ else if eq $link.direction "up" }}
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        {{ else if eq $link.direction "down" }}
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        {{ else if eq $link.direction "upleft" }}
                        <i class="fa fa-arrow-up" aria-hidden="true" style="rotate: -45deg;"></i>
                        {{ else if eq $link.direction "upright" }}
                        <i class="fa fa-arrow-up" aria-hidden="true" style="rotate: 45deg;"></i>
                        {{ else if eq $link.direction "downleft" }}
                        <i class="fa fa-arrow-down" aria-hidden="true" style="rotate: 45deg;"></i>
                        {{ else if eq $link.direction "downright" }}
                        <i class="fa fa-arrow-down" aria-hidden="true" style="rotate: -45deg;"></i>
                        {{ else if eq $link.direction "secret" }}
                        <i class="fa fa-question" aria-hidden="true"></i>
                        {{ else if eq $link.direction "open" }}
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        {{ end }}
                    </label>
                    {{ end }}
                </div>
            </div>
            <p class="slide-text">
                {{ $slide.text | markdownify }}
            </p>

            <a class="expand-icon" href="{{ $slide.src }}">
                <i class="fa fa-expand" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    {{ end }}
</div>

<style>
    .slides {
        padding: 0;
        width: 100%;
        height: min-content;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .slides input {
        display: none;
    }

    .slide-container {
        display: none;
    }

    .slide {
        top: 0;
        opacity: 0;
        height: min-content;

        /*transform: scale(0);*/
        transform: translate(1, 0);


        transition: all .7s ease-in-out;
    }

    .slide .slide-title {
        position: absolute;
        z-index: 9;
        background: wheat;
        padding: 0 5px 1px 0;
        border-width: 0 6px 6px 0;
        border-color: purple;
        border-style: solid;
        border-radius: 0 0 15px 0;
    }

    .slide img {
        width: 100%;
    }

    .expand-icon {
        position: absolute;
        top: -30px;
        right: 0;
        font-size: 25px;

        z-index: 9;
    }

    .nav {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .nav label {
        width: 40px;
        height: 40px;
        display: none;
        position: absolute;
        /*margin: auto;*/

        opacity: 0;
        z-index: 9;
        cursor: pointer;

        transition: opacity .2s;

        color: #0F0;
        font-size: 40pt;
        text-align: center;
        font-family: "Arial", sans-serif;
        background-color: rgba(255, 255, 255, 0);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }

    .slide:hover .nav label {
        opacity: 0.5;
    }

    .nav label:hover {
        opacity: 1;
    }

    label i {
        position: relative;
        left: -2px;
        top: -13px;
    }

    input:checked+.slide-container {
        display: block;
        height: min-content;
    }

    input:checked+.slide-container .slide {
        opacity: 1;

        transition: opacity 1s ease-in-out;
    }

    input:checked+.slide-container .nav label {
        display: block;
    }
</style>
<script>
    function updateSelectedSlide(slideIndex) {
        window.location.hash = 'img-' + slideIndex;
    }

    function refreshSlide() {
        console.log(window.location.hash);
        if (window.location.hash) {
            document.getElementById(window.location.hash.replace('#', '')).checked = true;
        }
    }

    window.onhashchange = refreshSlide;
</script>