<div class="slides">
    <div id="js-hider" style="display: none;">
        {{- partial "minecraft_js.html" . -}}
    </div>

    <noscript>
        {{- partial "minecraft_nojs.html" . -}}
    </noscript>
</div>

<style>
    .slides {
        padding: 0;
        width: 100%;
        height: min-content;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        position: relative;
    }

    .slides>span>input,
    .slides>#js-hider>input {
        display: none;
    }

    .slide-container {
        display: none;
    }

    .slide {
        top: 0;
        opacity: 0;
        height: min-content;

        /*transform: scale(0);*/
        transform: translate(1, 0);


        transition: all .7s ease-in-out;
    }

    .slide img {
        width: 100%;
    }

    .slide-title {
        position: absolute;
        top: -21px;

        z-index: 9;

        background: wheat;
        border-color: purple;
        border-style: solid;
    }

    strong.slide-title {
        top: -27px;
    }

    .slides:fullscreen .slide-title {
        top: 0;
    }

    .title-upleft {
        padding: 2px 2px 0 5px;
        border-width: 3px 3px 0 3px;
        border-radius: 0 15px 0 0;
    }

    .slides:fullscreen .title-upleft {
        padding: 0 2px 2px 5px;
        border-width: 0 3px 3px 3px;
        border-radius: 0 0 15px 0;
    }

    .slides:fullscreen .slide-text {
        position: absolute;
        bottom: -10px;
        right: 0;

        max-width: calc(100% - 24px);

        z-index: 9;

        background: wheat;
        color: black;
        border-color: purple;
        border-style: solid;

        padding: 2px 5px 0 2px;
        border-width: 3px 3px 0 3px;
        border-radius: 15px 0 0 0;
    }

    .slides:fullscreen .slide-text:hover {
        opacity: 0.5;
    }

    .text-checkbox,
    .slides:fullscreen input.text-checkbox:checked+p {
        display: none;
    }

    .slides:fullscreen label.text-checkbox,
    input.text-checkbox:checked+p {
        display: inherit;
    }

    .slides:fullscreen label.text-checkbox {
        top: -30px
    }

    .text-checkbox i {
        position: absolute;
        left: 4px;
        top: 4px;
    }

    .title-upright {
        right: 0;

        padding: 0 5px 2px 2px;
        border-width: 3px 3px 3px 0;
        border-radius: 15px 0 0 0;
    }

    .top-controls {
        position: absolute;
        display: flex;

        top: -30px;
        right: 0;

        z-index: 9;
    }

    .slides:fullscreen .top-controls {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 9;

        background: wheat;
        color: black;
        border-color: purple;
        border-style: solid;

        padding: 0 5px 2px 2px;
        border-width: 0 3px 3px 3px;
        border-radius: 0 0 0 15px;
    }

    .top-controls div,
    .top-controls a {
        padding: 0 10px;
    }

    .nav {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .nav label {
        width: 40px;
        height: 40px;
        display: none;
        position: absolute;
        /*margin: auto;*/

        opacity: 0;
        z-index: 9;
        cursor: pointer;

        transition: opacity .2s;

        color: #0F0;
        font-size: 40pt;
        text-align: center;
        font-family: "Arial", sans-serif;
        background-color: rgba(255, 255, 255, 0);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }

    {{ if hugo.IsDevelopment }}
    .nav label {
        opacity: 1;
    }
    {{ end }}

    .slide:hover .nav label {
        opacity: 0.6;
    }

    .slide:hover .nav label:hover {
        opacity: 1;
    }

    label i {
        position: relative;
        left: -2px;
        top: -13px;
    }

    input:checked+.slide-container {
        display: block;
        height: min-content;
    }

    input:checked+.slide-container .slide {
        opacity: 1;

        transition: opacity 1s ease-in-out;
    }

    input:checked+.slide-container .nav label {
        display: block;
    }
</style>

<script>
    function getCurrentImageId() {
        var hashId = top.location.hash.replace('#', '');

        if (top.location.hash && !isNaN(hashId)) {
            return hashId;
        }

        return 0;
    }
    
    function loadImageURL(slideIndex) {
        var imageId = 'img-' + slideIndex;

        var scaledStr = usingSmallImages ? 'scaled_' : '';

        var imageUrl = `${top.location.origin}${top.location.pathname}/img/${scaledStr}${slideIndex}.png`;

        return imageUrl;
    }

    function updateUsingSmallImages(checkbox) {
        usingSmallImages = checkbox.checked;
    }

    function updateSelectedSlide(slideIndex) {
        var imageId = 'img-' + slideIndex;
        var imgElement = document.getElementById(imageId);

        top.location.hash = '#' + slideIndex;

        if (!imgElement.src || usingSmallImages != imgElement.src.includes('scaled_')) {
            imgElement.src = loadImageURL(slideIndex);
            console.log(`Set image ${slideIndex} to ${imgElement.src}.`)
        }
    }

    function refreshSlide() {
        var imageId = getCurrentImageId();

        document.getElementById('radio-' + imageId).checked = true;
        document.getElementById(`slide-select-${imageId}`).selected = true;
    }

    function updateSlideFromSelect() {
        var selectedSlide = document.getElementById('slide-select').selectedOptions[0].value;
        updateSelectedSlide(selectedSlide);
    }

    function expandImage() {
        var currentImage = getCurrentImageId();

        var imageSrc = document.getElementById(`img-${currentImage}`).src;
        imageSrc = imageSrc.replace('scaled_', '');

        top.document.location = imageSrc;
    }

    function toggleFullscreen() {
        var elem = document.querySelector('.slides');

        if (document.fullscreenElement) {
            document.getElementById('to-fullscreen-icon').style.display = "";
            document.getElementById('from-fullscreen-icon').style.display = "none";

            document.exitFullscreen();
            return;
        }

        document.getElementById('to-fullscreen-icon').style.display = "none";
        document.getElementById('from-fullscreen-icon').style.display = "";

        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
        }
    }

    var usingSmallImages = false;

    top.onhashchange = refreshSlide;

    updateUsingSmallImages(document.getElementById('small-image-checkbox'));
    updateSelectedSlide(getCurrentImageId())
    refreshSlide();

    document.getElementById("js-hider").removeAttribute("style");
</script>